body{
	margin: 0;
}

div {
	display: block;
}

h1 {
	font-size: 2em;
	color: #F2EF13;  
}

.header .contenedor {
	width: 800px;
	margin: auto;
}

.background {
	background-image: url('../images/image.jpg'); 
	background-size: cover;
}

.portada {

  color: white;
  padding: 20px;
  height: 622px;
}

.menu {
  font-size: 24px;
  display: inline-flex;
  position: relative;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-top: -6px;
  margin-left: 30px;
}

.menu li:before{
  content: '∘';
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}

.avatar {
  margin-top: 85px;
  margin-left: 576px;
}

.avatar img {
	border-radius: 200px;
}


.header {
  position: relative;
}

.perfil {
  margin-left: 556px;

}

.perfil h3 {
	margin-left: 50px;

}

.perfil h2 {
	position: initial;
	margin-left: -32px;
	color: #5193B4;
}

.caja {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0.5em;
}

.formacion p {
	margin-left: 500px;
	padding-top: 30px;
}

.formacion h2 {
	margin-top: 65px;
	text-align: center;
	color: #474744;
}

.contenedor-edu {
	background: #FFFBE0;
	padding-top: 1px;
	padding-bottom: 50px;
	
}

.formacion h3 {
	margin-top: 40px;
	text-align: center;
}

.edu-item {
	margin-top: 0.5em;
	margin-left: 170px;
    text-align: center;
    border-radius: 150px;
    width: 128px;
    height: 128px;

}

.carrera p {
	margin-top: 20px;
	margin-left: 50px;
}

.carrera {
    width: 500px;
    height: 200px;
    margin-right: 55px;
    margin-left: 65px;
    border: 1px solid #1F313C;
    border-radius: 8px;
    text-decoration: none;
    color: #474744;
    border-bottom: 4px solid #2994B2;
    background-color: rgba(255,180,0,0.2);
    padding: 0.5em;
	cursor: pointer;
}

.Portafolio-section {
	background: #2994B2;
}

.section-title {
	font-family: "Raleway",serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.PortafolioItem-img {
	margin-left: 80px;
}

.PortafolioItem-info {
	margin-left: 80px;
	padding-bottom: 15px;
}

.header {
  position: relative;
}


.footer {
	background: #3d4950;
    padding: 50px 10px;
    background-size: cover;
    color: #FFFBE0;
    border-bottom: 2px solid #FFB400;
    border-top: 2px solid #FFB400;
    padding: 3em;
    position: relative;
}

.footer .contenedor {
	display: flex;
  	justify-content: space-between;
}

.footer-column {
	position: relative;
    z-index: 2;
}

.footer-column-left {
	text-align: center;
}

.footer-column-right{
	color: #FFFBE0;
    font-size: 1.5em;
    text-decoration: none
}

.fa-github::before {
    content: url(../icon/GitHub-Mark-32px.png);
}

.fa-twitter::before {
	content: url(../icon/twitter.png); 
}

.fa-google::before {
	content: url(../icon/google.png); 
}

.fa-correo::before {
	content: url(../icon/gmail.png); 
}

.enlaces {
	font-size: 24px;
    display: inline-flex;
    position: absolute;
    right: 50px;
}

.enlaces li {
	display: flow-root;
    margin-top: -52px;
    margin-left: 30px;
}

.enlaces a {
	text-decoration: none;
	color: #FFFBE0;
}