body{
	margin: 0;
}

div {
	display: block;
}

h1 {
	font-size: 2em;
	color: #F2EF13;  
}

.header {
	width: 800px;
	margin: auto;
}

.contenedor {
  width: auto;
  max-width: 800px;
}

.background {
	background-image: url('../images/image.jpg'); 
	background-size: cover;
}

.portada {

  color: white;
  padding: 20px;
  height: 622px;
}

.menu {
  font-size: 24px;
  display: inline-flex;
  margin-left: -225px;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-top: -6px;
  margin-left: 30px;
}

.menu li:before{
  content: '∘';
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}

.avatar {
  margin-top: 85px;
  text-align: center;
}

.avatar img {
	border-radius: 200px;
}

.header {
  position: relative;
}

.perfil {
  text-align: center;

}

.perfil h2 {
	color: #5193B4;
}

.caja {
	display: flex;
  justify-content: center;
}

.formacion p {
	text-align: center;
	padding-top: 30px;
}

.formacion h2 {
	margin-top: 65px;
	text-align: center;
	color: #474744;
}

.contenedor-edu {
	background: #FFFBE0;
	padding-top: 1px;
	padding-bottom: 50px;
	
}

.formacion h3 {
	margin-top: 40px;
	text-align: center;
}

.edu-item {
	margin-top: 0.5em;
	margin-left: 170px;
    text-align: center;
    border-radius: 150px;
    width: 128px;
    height: 128px;

}

.carrera p {
	margin-top: 20px;
	margin-left: 50px;
}

.carrera {
  width: 500px;
  height: 200px;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid #1F313C;
  border-radius: 8px;
  text-decoration: none;
  color: #474744;
  border-bottom: 4px solid #2994B2;
  background-color: rgba(255,180,0,0.2);
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 50px;
}

.Portafolio-section {
	background: #83d2a0;
  padding-top: 1px;
  padding-bottom: 20px;
}

.section-title {
	font-family: "Raleway",serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.PortafolioItem-img {
	margin-left: 80px;
	margin-top: 20px;

}

.PortafolioItem-imgg {
	margin-left: 70px;
}

.PortafolioItem{
	display: inline-flex;
    justify-content: baseline;
    flex-wrap: wrap;
    padding: 0.5em
}
.PortafolioItem-info {
	margin-left: 80px;
	padding-bottom: 15px;
}

.header {
  position: relative;
}


.footer {
	background: #524040;
  padding: 50px 10px 0px;
  background-size: cover;
  color: #FFFBE0;
  border-bottom: 2px solid #FFB400;
  border-top: 2px solid #FFB400;
  position: relative;
}

.footer .contenedor {
	display: flex;
  justify-content: space-between;
}

.footer-column {
	position: relative;
  z-index: 2;
}

.footer-column-left {
  margin-left: 80px;
  margin-right: 40px;
  margin-top: 40px;
}

.formulario {
  display: flex;
  color: white;
  margin-top: -30px;
}


.col1, .col2 {
  display: flex;
  flex-direction: column;  
  margin-top: 20px;
}

.col1 {
  margin-right: 15px;
}
.col2 {
  align-items: flex-start;
}

.contacto {
  display: flow-root;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 130px;
  margin-right: 80px;
  text-align: center;
}

.footer-column-left {
	text-align: center;
}

.footer-column-right{
	color: #FFFBE0;
    font-size: 1.5em;
    text-decoration: none
}

.fa-github::before {
    content: url(../icon/GitHub-Mark-32px.png);
}

.fa-twitter::before {
	content: url(../icon/twitter.png); 
}

.fa-google::before {
	content: url(../icon/google.png); 
}

.fa-correo::before {
	content: url(../icon/gmail.png); 
}

.enlaces {
	font-size: 22px;
  display: inline-flex;
  text-align: center;
  margin-top: -4px;
  margin-bottom: 10px;
}

.enlaces li {
	display: flow-root;
  margin-left: 30px;
}

.enlaces a {
	text-decoration: none;
	color: #FFFBE0;
}


@media screen and (max-width:800px) {

.perfil {
  width: auto;
  max-width: 800px;
  margin-left: auto;
  text-align: center;
}

.enlaces {
    font-size: 20px;
    display: inline-flex;
    position: absolute;
    margin-top: 50px;
    margin-right: 70px;
}
.enlaces li{
    display: initial;
    margin-left: 25px;
}

.edu-item {
  margin: 0;
}
.caja{
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.carrera {
  height: auto;
  padding: 0;
}

}